:root {
  --border-color: #291d4d;
  --dialog-background: #fff3b4;

  --menu-background: #ffe8d2;
  --menu-border-color: #a48465;
  --menu-font-color: #3a160d;
  --menu-selected-background: #7fc2ff;
}

* {
  box-sizing: border-box;
}

body {
  background: #333;
  padding: 0;
  margin: 0;
  overflow: visible;
  font-family: "Ribeye", cursive;
}
.how-to-play {
  position: absolute;
  left: 0;
  margin-top: 300px;
  margin-left: 20px;
  top: 0;
  text-align: center;
  font-size: 18px;
  color: white;
}
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
.game-container {
  position: relative;
  width: 880px;
  height: 1173px;
  margin: 0 auto;

  margin-top: 10px;

  /* /transform: scale(3) translateY(50%); */
}
#sleep {
  position: absolute;
  left: 600px;
  top: 205px;
}

#music {
  position: absolute;
  left: 380px;
  top: 270px;
}

#city {
  position: absolute;
  left: 480px;
  top: 55px;
}

#cityDay {
  position: absolute;
  left: 640px;
  top: 40px;
}

#moon {
  position: absolute;
  left: 760px;
  top: 60px;
}
.game-container canvas {
  image-rendering: pixelated;
}

/* quick reset and base styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-family: helvetica, arial, sans-serif;
}

/* relevant styles */
.img__wrap {
  position: absolute;
}

.img__description_layer {
  position: absolute;
  left: 500px;
  top: 35px;
  padding-left: 5px;
  padding-right: 5px;
  background: #957dad;
  color: #fff;
  visibility: visible;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* relevant styles */
.img__wrap_moon {
  position: absolute;
}

.img__description_layer_moon {
  position: absolute;
  left: 780px;
  top: 40px;
  padding-left: 5px;
  padding-right: 5px;
  background: #957dad;
  color: #fff;
  visibility: visible;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* relevant styles */
.img__wrap_city {
  position: absolute;
}

.img__description_layer_city {
  position: absolute;
  left: 680px;
  top: 55px;
  padding-left: 5px;
  padding-right: 5px;
  background: #957dad;
  color: #fff;
  visibility: visible;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
}

/* relevant styles */
.img__wrap_sleep {
  position: absolute;
  top: -120px;
  left: -1px;
}

.img__description_layer_sleep {
  position: absolute;
  left: 615px;
  top: 185px;
  padding-left: 5px;
  padding-right: 5px;
  background: #957dad;
  color: #fff;
  visibility: visible;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* relevant styles */
.img__wrap_music {
  position: absolute;
}

.img__description_layer_music {
  position: absolute;
  left: 390px;
  top: 255px;
  padding-left: 5px;
  padding-right: 5px;
  background: #957dad;
  color: #fff;
  visibility: visible;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 1rem 1.5rem;
  width: 50rem;
  height: 30rem;
  border-radius: 0.5rem;
  text-align: center;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal2 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 1rem 1.5rem;
  width: 50rem;
  height: 30rem;
  border-radius: 0.5rem;
}

.close-button2 {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button2:hover {
  background-color: darkgray;
}

.show-modal2 {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.heading{
  color: aquamarine;
}
.modal3 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 1rem 1.5rem;
  width: 50rem;
  height: 30rem;
  border-radius: 0.5rem;
}

.close-button3 {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button3:hover {
  background-color: darkgray;
}

.show-modal3 {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.react {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ts {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.js {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#SpaceGuy {
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("/images/maps/night.gif");
}

@media screen and (orientation: portrait) {
  #SpaceGuy {
    background-image: url('/images/maps/night.gif');
    
    background-image: 
      image-set(
        url('/images/maps/night.gif') 1x, 
        url('/images/maps/night.gif') 2x
      );
  }
}

@media screen and (orientation: landscape) {
  #SpaceGuy {
    background-image: url("https://ucarecdn.com/4ff4b0cf-d47b-48ec-9836-e6fff96924a0/-/resize/450x/3.jpg");
    
    background-image: 
      image-set(
        url('/images/maps/night.gif') 1x, 
        url('/images/maps/night.gif') 2x
      );
  }
}

@media screen and (min-width: 450px) {
  #SpaceGuy {
    background-image: url("https://ucarecdn.com/4ff4b0cf-d47b-48ec-9836-e6fff96924a0/-/resize/750x/5.jpg");
    
    background-image: 
      image-set(
        url("https://ucarecdn.com/4ff4b0cf-d47b-48ec-9836-e6fff96924a0/-/resize/750x/5.jpg") 1x, 
        url("https://ucarecdn.com/4ff4b0cf-d47b-48ec-9836-e6fff96924a0/-/resize/1500x/-/quality/lightest/6.jpg") 2x
      );
  }
}


@media screen and (min-width: 750px) {
  #SpaceGuy {
    background-image: url('/images/maps/night.gif');
    
    background-image: 
      image-set(
        url('/images/maps/night.gif') 1x, 
        url('/images/maps/night.gif') 2x
      );
  }
}

html, body {
  margin: 0;
}

#SpaceGuy {

  padding: 750px 20px 40px;
}

a {
  color: #fbc700;
  text-shadow: none;
}